<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kehilangan - Tambah Kehilangan</title>

  <link rel="stylesheet" href="{{ url_for('admin_bp.static', filename='css/beranda.css') }}">
  <link rel="stylesheet" href="{{ url_for('admin_bp.static', filename='css/daftar_kehilangan.css') }}">
  <link rel="stylesheet" href="{{ url_for('admin_bp.static', filename='css/tambah_kehilangan.css') }}">

  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <script src="bootstrap/js/bootstrap.bundle.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
</head>

<body>
  <div class="sidebar">
    <div>
      <div class="logo-wrapper">
        <img src="{{ url_for('admin_bp.static', filename='image/rectangle.png')}}" class="rectangle-bg">
        <img src="{{ url_for('admin_bp.static', filename='image/logo.png')}}" class="logo-front">
      </div>

      <nav>
        <a href="{{ url_for('admin_bp.beranda_admin') }}"><i class="bi bi-speedometer2"></i> Beranda</a>
        <a href="#" class="active"><i class="bi bi-question-circle"></i> Kehilangan</a>

        <div class="submenu">
          <a href="{{ url_for('admin_bp.daftar_kehilangan') }}"><i class="bi bi-list-ul"></i> Daftar Barang</a>
          <a href="{{ url_for('admin_bp.tambah_kehilangan') }}" class="active"><i class="bi bi-plus-circle"></i> Tambah</a>
        </div>

        <a href="{{ url_for('admin_bp.daftar_penemuan') }}"><i class="bi bi-archive"></i> Penemuan</a>
        <a href="{{ url_for('admin_bp.arsip') }}"><i class="bi bi-folder"></i> Arsip</a>
        <a href="{{ url_for('admin_bp.pengaturan') }}"><i class="bi bi-gear"></i> Pengaturan</a>
      </nav>
    </div>

    <a href="{{ url_for('admin_bp.logout_admin') }}" class="logout">
      <i class="bi bi-box-arrow-right"></i> Logout
    </a>
  </div>

  <div class="header">
    <div class="logo-wrapper">
      <img src="{{ url_for('admin_bp.static', filename='image/rectangle2.png')}}" class="rectangle-bg">
      <img src="{{ url_for('admin_bp.static', filename='image/image5.png')}}" class="logo-front">
    </div>
    <h2>Kehilangan - Tambah Kehilangan</h2>
    <div class="profile-icon"><i class="bi bi-person-circle"></i></div>
  </div>

  <div class="content">
    <div class="container tambah-kehilangan">
      <h3>Data Barang Hilang</h3>

      <form id="formTambah" action="{{ url_for('admin_bp.tambah_kehilangan') }}"
            method="POST" enctype="multipart/form-data">

        <label>Nama Pelapor</label>
        <input type="text" name="nama_pelapor" class="form-control required">

        <label>No. Telp</label>
        <input type="text" name="no_telp" class="form-control required">

        <label>Email</label>
        <input type="email" name="email" class="form-control required">

        <label>Asal Negara</label>
        <input type="text" name="asal_negara" class="form-control required">

        <label>Kota</label>
        <input type="text" name="kota" class="form-control required">

        <label>Nama Barang</label>
        <input type="text" name="nama_barang" class="form-control required">

        <label>Kategori</label>
        <select name="kategori" class="form-select required">
          <option value="">Pilih kategori</option>
          <option value="Tas">Tas</option>
          <option value="Dompet">Dompet</option>
          <option value="Elektronik">Elektronik</option>
          <option value="Pakaian & Aksesori">Pakaian & Aksesori</option>
          <option value="Kendaraan & Aksesori Kendaraan">Kendaraan & Aksesori Kendaraan</option>
          <option value="Barang Lainnya">Barang Lainnya</option>
        </select>

        <input type="hidden" name="jenis_laporan" value="Kehilangan">

        <label class="fw-bold" style="margin-top: 10px;">Lokasi Kehilangan</label>

        <div class="lokasi-row d-flex gap-3">
          <div class="lokasi-col flex-grow-1">
            <label>Terminal</label>
            <select id="terminal" name="terminal" class="form-select required">
              <option value="">Pilih Terminal</option>
              <option value="Terminal 1">Terminal 1</option>
              <option value="Terminal 2">Terminal 2</option>
            </select>
          </div>

          <div class="lokasi-col flex-grow-1">
            <label>Tempat</label>
            <select id="tempat" name="tempat" class="form-select required">
              <option value="">Pilih Lokasi</option>
            </select>
          </div>
        </div>

        <div id="lokasiLainContainer" style="display:none; margin-top: 10px;">
          <label>Tulis Lokasi Lainnya :</label>
          <input type="text" id="lokasi_lain" class="form-control">
        </div>

        <input type="hidden" id="lokasi" name="lokasi">

        <label>Tanggal Kehilangan</label>
        <input type="date" name="tanggal_kehilangan" class="form-control required">

        <label>Deskripsi Barang Khusus</label>
        <textarea name="deskripsi" class="form-control required" rows="3"></textarea>

        <label>Foto Barang</label>
        <input type="file" name="foto" class="form-control required">

        <!-- STATUS HIDDEN -->
         <input type="hidden" name="kode_kehilangan" value="{{ kode_baru }}">
        <input type="hidden" name="status" value="Verifikasi">

        <div class="button-group">
          <button type="button" class="btn-cancel btn btn-secondary">Batal</button>
          <button type="submit" class="btn-save btn btn-primary">Simpan</button>
        </div>

      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('admin_bp.static', filename='js/tambah_kehilangan.js') }}"></script>

  </div>
</body>
</html>
